.MovieListItem{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    height: 100px;
    width: 80%;
    background-color: #fff;
    margin: 30px auto;
    padding: 20px 5px;
    box-shadow: 0px 0px 1.5px rgba(0,0,0,.5);
    align-items: center;
    border-radius: 2px;
}

.MovieListItem *{
    font-weight: 300;
}

.Title {
    font-size: 20px;
}

.Released{
    font-size: 20px;
    text-align: center;
}

.Poster {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left; 
    height: 100px;
}

.Btn {
    width: 80%;
    height: 80%;
    margin: auto;
    border: 1px solid #fff;
    outline: none;
    border-radius: 5px;
    display: block;
    background-color: transparent;
    transition: all .2s ease-out;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: #000;
    text-align: center;
    box-sizing: border-box;
    padding: 25px 0 0 0;
}

.Btn:hover{
    cursor: pointer;
    color: red;
    border: 2px solid red;
}