.NavBar {
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0);
    height: 100px;
    position: relative;
    overflow: hidden;
}

.NavBar .Container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.NavBar .Logo {
    color: #DB202C;
    font-weight: 300;
    margin: 0;
    padding: 0;
    display: inline;
    text-transform: uppercase;
}

.NavBar .Logo span{
    color: #fff;
    background-color: #DB202C;
    border-radius: 10px;
    padding: 5px;
}

/* .NavBar .LogoDeco{
    background-color: #000;
    width: 165px;
    height: 50px;
    position: absolute;
    top: 60px;
    border-radius: 30%;
} */

.NavBar .NavMenu{
    list-style: none;
    
}

.NavBar .NavMenu li {
    display: inline-block;
    margin: 0 20px
    
}

.NavBar .NavMenu li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}